<div class="card m-3 bg-dark overflow-hidden">
  <div class="row card-header justify-content-between align-items-center text-light">
    <a href="{{#if active_dashboard}}/dashboard{{/if}}/post/{{id}}{{#if active_home}}/comments{{/if}}"
      class="text-light fs-4 text-decoration-none fw-bold">{{title}}</a>
    <p class="m-0">Posted by {{user.username}} on {{format_date created_at}}</p>
  </div>
  <div class="card-body bg-light">
    <p class="card-text">{{content}}</p>
  </div>
</div>