<div class="card m-3 bg-dark overflow-hidden">
  <div class="row card-header justify-content-between align-items-center text-light">
    <a href="{{#if active_dashboard}}/dashboard{{/if}}/post/{{id}}{{#if active_home}}/comments{{/if}}"
      class="text-light fs-4 text-decoration-none fw-bold">{{title}}</a>

    <img src="{{image_url}}" alt="{{image_url}}">

    {{!--<p class="m-0">Posted by {{user.username}} on {{format_date created_at}}</p>--}}

    <p class="m-0"><svg class="person bi bi-person-circle" width="1em" height="1em" viewBox="0 0 16 16"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
      </svg>{{user.username}}</p>

  </div>
  <div class="card-body bg-light">
    <p class="card-text">{{content}}</p>
    {{!-- <a href="{{#if content}}/dashboard{{/if}}" class="card-text"></a> --}}
  </div>
  <div class="meta text-secondary bottom-header">
    {{vote_count}} {{format_plural "Like" vote_count}}
    <svg class="bi bi-dot" width="1em" height="1em" viewBox="0 0 16 16" fill="gray" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
    </svg>
    {{!-- Comment Count --}}
    {{comments.length}} {{format_plural "Comment" comments.length}}
    <svg class="bi bi-dot" width="1em" height="1em" viewBox="0 0 16 16" fill="gray" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
    </svg>
    {{!-- Created Date --}}
    Posted on {{format_date created_at}}</a>
  </div>
</div>