<div class="bg-dark text-light">
  <div class="container">
    <div class="d-flex">
      <div class="col-md-12">
        <h1 class="fw-bold">Update Post</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form id="update-post-form" method="POST">
    <div class="card mt-3 bg-dark overflow-hidden">
      <div class="d-flex card-header justify-content-between align-items-center text-light">
        <h2>Edit Post</h2>
      </div>
      <div class="card-body bg-light">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" />
        </div>
        <form action="/single" method="POST" encType="multipart/form-data">
          <h3>Upload Photo</h3>
          <input type="file" name="images" />
          <input type="submit" class="btn btn-primary">
        </form>

        {{!-- <div class="card">
          {{#each rows}}

          {{#if this.profile_image}}
          <img class="card__image" src="{{this.profile_image}}" loading="lazy" alt="User Profile">
          {{else}}
          <img class="card__image" src="/img/default.jpg" loading="lazy" alt="User Profile">
          {{/if}}

          <h1 class="card__title">{{this.name}}</h1>
          <div class="card__job">{{this.job_title}}</div>
          <p class="card__about">
            {{this.description}}
          </p>
          <button type="button" class="btn btn-primary">View Profile</button>
          {{/each}}

        </div> --}}
        <div class="form-group">
          <label for="body">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3">{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-dark mt-3">Update</button>
        <button id="delete-btn" type="button" class="btn btn-danger mt-3">Delete</button>
      </div>
    </div>


  </form>


  <script src="/javascript/update-delete-post.js"></script>
</div>